<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini Craigslist site</title>
</head>
<body>
<div th:fragment="navlinks">
    <nav class="navbar navbar-light navbar-expand-md bg-light">
        <a href="/" class="navbar-brand">Job Listing Company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar3">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Available Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">about</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <footer class="bg-dark navbar footer fixed-bottom footer-light footer-shadow content container-fluid text-white mt-4">
        <!--class="navbar footer fixed-bottom footer-light footer-shadow content container-fluid"-->
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-md-12"><h5>Footer</h5></div>
             </div>
            <div class="row">
             <div class="col-md-12 text-right small align-self-end">©2020 Job listing </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>