<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="jstyle" type="text/css">
</head>
<body>
<div th:replace="base :: navlinks"></div>
<h3 class="jumbotron text-center">Job Lists <br/>
    <a href="/add" >Add Job</a>
</h3>

<!--<h1> Job Form </h1>-->
<!--<form aciton="#" th:action="@{/add}" th:object="${job}" method="post">
    <input type="hidden" th:field="*{id}"/>

    Title: <input type="text" th:field="*{title}"/>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>

    Description: <input type="text" th:field="*{description}"/>
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span><br/>

    Post Date : <input type="text" th:field="*{postdate}"/>
    <span th:if="${#fields.hasErrors('postdate')}" th:errors="*{postdate}"></span><br/>

    Author: <input type="text" th:field="*{author}"/>
    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span><br/>

    Phone: <input type="text" th:field="*{phone}"/>
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span><br/>

    <input type="submit" value="Submit"/>
</form>-->


    <!-- form user info -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Job Listing form</h3>
        </div>
        <div class="card-body">
            <form class="form" role="form" autocomplete="off" aciton="#" th:action="@{/add}" th:object="${job}" method="post">
                <fieldset>
                    <label for="name" class="mb-0">Title</label>
                    <div class="row mb-1">
                        <div class="col-lg-6">
                            <input type="text" name="name" id="name" th:field="*{title}" class="form-control" required="">
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>
                        </div>
                    </div>
                    <label for="description" class="mb-0">Description</label>
                    <div class="row mb-1">
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <input type="text" name="description" id="description" th:field="*{description}" class="form-control" required="">
                        </div>
                    </div>

                    <label for="postdate" class="mb-0">Post Date</label>
                    <div class="row mb-1">
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <input type="text" name="description3"  id ="postdate" th:field="*{postdate}" class="form-control" required="">
                        </div>
                    </div>


                    <label for="author" class="mb-0">Author</label>
                    <div class="row mb-1">
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <input type="text" name="description3"  id ="author" th:field="*{author}" class="form-control" required="">
                        </div>
                    </div>


                    <label for="phone" class="mb-0">Phone Number</label>
                    <div class="row mb-1">
                        <div class="col-xs-12 col-sm-12 col-lg-6">
                            <input type="text" name="phone"  id ="phone" th:field="*{phone}" class="form-control" required="">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-lg float-center">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
    <!-- /form user info -->

<div th:replace="base :: footer"></div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>